NODE_ENV=STAGE
DB_NAME=panchayat
DB_USER=root
DB_PASSWORD=rootpassword
DB_HOST=localhost
DB_PORT=3306
PORT=3000
JWT_PRIVATE_KEY=chachamama
JWT_SECRET=chachamama
LOG_LEVEL=info
SLOW_QUERY_THRESHOLD=100
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

